<section id="projects" class="projects">
    <div class="container">
        <div class="section-header scroll-animate">
            <h2 class="section-title">Featured Projects</h2>
            <p class="section-subtitle">A showcase of my recent work</p>
        </div>
        <div class="projects-grid">
            <div class="project-card featured stagger-item">
                <div class="project-image">
                    <img src="assets/images/Audience-pulse.jpg" alt="Audience pulse App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://github.com/AhmedHamed2002/Audience-Pulse" target="_blank" class="project-link bg-gradient-to-r from-orange-500 via-red-700 to-orange-500">
                                <i class="fab fa-github"></i> <span>Angular</span> 
                            </a>
                            <a href="https://drive.google.com/drive/folders/1QYU_IeAy2mw0p9DKkbLXBRRaqqAq4zyx" target="_blank" class="project-link bg-[linear-gradient(to_right,_#16a34a,_#facc15,_#ef4444,_#2563eb)]">
                                <i class="fab fa-google-drive text-2xl"></i> <span>Drive</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <div>
                        <span class="project-badge">Graduation Project</span>
                        <span class="project-badge">Main Project</span>
                        <span class="project-badge">Full Stack</span>
                        <span class="project-badge">Angular & Flask</span>
                    </div>
                    <h3 class="project-title">Audience Pulse</h3>
                    <p class="project-description">
                        Audience Pulse is a powerful social media analytics dashboard designed to collect, analyze, and visualize 
                        public sentiment and trending topics related to specific brands or topics across Twitter and Facebook.
                        The goal is to help businesses and researchers understand public opinion and customer feedback in real-time or scheduled intervals.
                    </p>
                    <div class="project-tech">
                        <span class="tech-tag">Angular</span>
                        <span class="tech-tag">Clean Architecture</span>
                        <span class="tech-tag">TailwindCSS</span>
                        <span class="tech-tag">chart js</span>
                        <span class="tech-tag">scrollreveal js</span>
                        <span class="tech-tag">flowbite</span>
                        <span class="tech-tag">SweetAlert2</span>
                        <span class="tech-tag">flask</span>
                        <span class="tech-tag">REST APIs</span>
                        <span class="tech-tag">JWT Authentication</span>
                        <span class="tech-tag">Big data & DE</span>
                        <span class="tech-tag">AI Model</span>
                    </div>
                </div>
            </div>

            <div class="project-card featured stagger-item">
                <div class="project-image">
                    <img src="assets/images/bookStore.jpg" alt="IT book store App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://tech-book-store-phi.vercel.app" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/DEPI_FinalProject" target="_blank" class="project-link  bg-gradient-to-r from-orange-500 via-red-700 to-orange-500">
                                <i class="fab fa-github"></i> <span>Angular</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/TechBook-Store" target="_blank" class="project-link  bg-gradient-to-r from-black via-neutral-600 to-black">
                                <i class="fab fa-github"></i> <span>Next js</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <div>
                        <span class="project-badge">Grad.DEPI</span>
                        <span class="project-badge">Main Project</span>
                        <span class="project-badge">Next</span>
                        <span class="project-badge">Angular</span>
                    </div>
                    <h3 class="project-title">IT Book Store</h3>
                    <p class="project-description">
                        TechBook Store is a modern online bookstore built with Next.js 15 , Angular , designed for technology lovers.
                        It allows users to browse, search, and view the latest tech books, add them to favorites or cart, and manage purchases seamlessly.
                        With Redux Toolkit, shadcn/ui ,flowbite, and TailwindCSS , bootstrap, it delivers a smooth, elegant, and fast user experience.
                    </p>
                    <div class="project-tech">
                        <span class="tech-tag">Angular</span>
                        <span class="tech-tag">Next js</span>
                        <span class="tech-tag">Redux Toolkit</span>
                        <span class="tech-tag">Clean Architecture</span>
                        <span class="tech-tag">TailwindCSS </span>
                        <span class="tech-tag">bootstrap</span>
                        <span class="tech-tag">shadcn ui</span>
                        <span class="tech-tag">flowbite</span>
                        <span class="tech-tag">SweetAlert2</span>
                        <span class="tech-tag">REST APIs</span>
                        <span class="tech-tag">Authentication</span>
                        <span class="tech-tag">firebase</span>
                    </div>
                </div>
            </div>

            <div class="project-card featured stagger-item">
                <div class="project-image">
                    <img src="assets/images/facebook.jpg" alt="Facebook App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://facebook-cloning-next.vercel.app" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/facebook-cloning-angular" target="_blank" class="project-link  bg-gradient-to-r from-orange-500 via-red-700 to-orange-500">
                                <i class="fab fa-github"></i> <span>Angular</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/facebook-cloning-next" target="_blank" class="project-link  bg-gradient-to-r from-black via-neutral-600 to-black">
                                <i class="fab fa-github"></i> <span>Next js</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/facebook-cloning-backend" target="_blank" class="project-link  bg-gradient-to-r from-green-900 via-emerald-800 to-green-900">
                                <i class="fab fa-github"></i> <span>node js</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <div>
                        <span class="project-badge">Main Project</span>
                        <span class="project-badge">Full Stack</span>
                        <span class="project-badge">Next & Node</span>
                        <span class="project-badge">Angular & Node</span>
                    </div>
                    <h3 class="project-title">Facebook Cloning</h3>
                    <p class="project-description">
                        This project is a Social Media Clone that includes user authentication, posts, reactions, comments, and friendship system.
                        The frontend is developed using Next.js and the backend is built with Node.js (Express + MongoDB).
                    </p>
                    <div class="project-tech">
                        <span class="tech-tag">Angular</span>
                        <span class="tech-tag">Next js</span>
                        <span class="tech-tag">Clean Architecture</span>
                        <span class="tech-tag">TailwindCSS </span>
                        <span class="tech-tag">shadcn ui</span>
                        <span class="tech-tag">flowbite</span>
                        <span class="tech-tag">SweetAlert2</span>
                        <span class="tech-tag">node js</span>
                        <span class="tech-tag">express js</span>
                        <span class="tech-tag">mongoDB</span>
                        <span class="tech-tag">REST APIs</span>
                        <span class="tech-tag">JWT & OTP Authentication</span>
                        <span class="tech-tag">Express Validator</span>
                        <span class="tech-tag">Multer</span>
                        <span class="tech-tag">CORS</span>
                    </div>
                </div>
            </div>

            <div class="project-card featured stagger-item">
                <div class="project-image">
                    <img src="assets/images/EMS.jpg" alt="EMS App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://employee-management-system-next-sab.vercel.app" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/Employee_management_system_Angular" target="_blank" class="project-link  bg-gradient-to-r from-orange-500 via-red-700 to-orange-500">
                                <i class="fab fa-github"></i> <span>Angular</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/Employee_management_system_Next" target="_blank" class="project-link  bg-gradient-to-r from-black via-neutral-600 to-black">
                                <i class="fab fa-github"></i> <span>Next js</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/Employee_management_system_backend" target="_blank" class="project-link  bg-gradient-to-r from-green-900 via-emerald-800 to-green-900">
                                <i class="fab fa-github"></i> <span>node js</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <div>
                        <span class="project-badge">Main Project</span>
                        <span class="project-badge">Full Stack</span>
                        <span class="project-badge">Next & Node</span>
                        <span class="project-badge">Angular & Node</span>
                    </div>
                    <h3 class="project-title">Employee Management System</h3>
                    <p class="project-description">
                        A robust and scalable Node.js + Express backend for managing employee and user data.
                        This API supports CRUD operations, authentication, authorization, and data persistence using MongoDB.
                        Designed for integration with a modern frontend (Angular and React) for full-stack employee management.
                    </p>
                    <div class="project-tech">
                        <span class="tech-tag">Angular</span>
                        <span class="tech-tag">Next js</span>
                        <span class="tech-tag">Clean Architecture</span>
                        <span class="tech-tag">TailwindCSS </span>
                        <span class="tech-tag">shadcn ui</span>
                        <span class="tech-tag">flowbite</span>
                        <span class="tech-tag">SweetAlert2</span>
                        <span class="tech-tag">node js</span>
                        <span class="tech-tag">express js</span>
                        <span class="tech-tag">mongoDB</span>
                        <span class="tech-tag">REST APIs</span>
                        <span class="tech-tag">JWT & OTP Authentication</span>
                        <span class="tech-tag">Express Validator</span>
                        <span class="tech-tag">Multer</span>
                        <span class="tech-tag">CORS</span>
                    </div>
                </div>
            </div>

            <div class="project-card featured stagger-item">
                <div class="project-image">
                    <img src="assets/images/prayer.png" alt="prayer App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://prayer-cactus.surge.sh/" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/p6_prayer_Timings/tree/master" target="_blank" class="project-link  bg-gradient-to-r from-sky-600 via-cyan-800 to-sky-600">
                                <i class="fab fa-github"></i> <span>React</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <div>
                        <span class="project-badge">React</span>
                    </div>
                    <h3 class="project-title">Prayer Timings</h3>
                    <p class="project-description">
                        Prayer Times App — A modern Arabic web app built with React + Vite that displays real-time prayer times for cities in Egypt,
                        shows a countdown to the next prayer, and reminds users to pray with beautiful SweetAlert2 popups.
                        Powered by the AlAdhan API and localized using Moment.js (ar-ly).
                    </p>
                    <div class="project-tech">
                        <span class="tech-tag">react</span>
                        <span class="tech-tag">Vite</span>
                        <span class="tech-tag">Clean Architecture</span>
                        <span class="tech-tag">bootstrap</span>
                        <span class="tech-tag">SweetAlert2</span>
                        <span class="tech-tag">Moment.js</span>
                    </div>
                </div>
            </div>

            <div class="project-card stagger-item">
                <div class="project-image">
                    <img src="assets/images/ai.jpg" alt="AI chat bot App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://ai-chat-bot-liard-seven.vercel.app" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/Ai-Chat-Bot" target="_blank" class="project-link bg-orange-600">
                                <i class="fab fa-github"></i> <span>github</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="project-title">AI Chat Bot</h3>
                    <p class="project-description">
                        This AI Chat Bot leverages the power of Google’s Gemini API to deliver fast,
                        context-aware, and human-like conversations.
                        Built on cutting-edge multimodal AI, the bot understands and responds to natural language with high accuracy,
                        supporting rich interactions across text
                    </p>
                    <div class="project-tech">
                        <span class="tech-tag">Gemini API</span>
                        <span class="tech-tag">REST APIs</span>
                        <span class="tech-tag">HTML</span>
                        <span class="tech-tag">CSS</span>
                        <span class="tech-tag">JS</span>
                        <span class="tech-tag">TailwindCSS</span>
                    </div>
                </div>
            </div>

            <div class="project-card featured hidden-project">
                <div class="project-image">
                    <img src="assets/images/WhatsApp.jpg" alt="WhatsApp Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://github.com/AhmedHamed2002/WhatsApp" target="_blank" class="project-link  bg-gradient-to-r from-green-900 via-emerald-600 to-green-900">
                                <i class="fab fa-github"></i> <span>node js</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <div>
                        <span class="project-badge">Node</span>
                        <span class="project-badge">MVC</span>
                    </div>
                    <h3 class="project-title">WhatsApp</h3>
                    <p class="project-description">
                        A real-time chat app inspired by WhatsApp, built with Node.js, Express, and Socket.io. Users can send instant messages, see typing indicators, and enjoy seamless real-time communication between clients via WebSockets.
                    <div class="project-tech">
                        <span class="tech-tag">node js</span>
                        <span class="tech-tag">express js</span>
                        <span class="tech-tag">Socket.io </span>
                        <span class="tech-tag">Clean Architecture</span>
                        <span class="tech-tag">HTML</span>
                        <span class="tech-tag">CSS</span>
                        <span class="tech-tag">JS</span>
                    </div>
                </div>
            </div>

            <div class="project-card featured hidden-project">
                <div class="project-image">
                    <img src="assets/images/Restaurant.jpg" alt="Restaurant App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://github.com/AhmedHamed2002/Restaurant" target="_blank" class="project-link  bg-gradient-to-r from-orange-500 via-red-700 to-orange-500">
                                <i class="fab fa-github"></i> <span>Angular</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <div>
                        <span class="project-badge">Angular</span>
                    </div>
                    <h3 class="project-title">Restaurant</h3>
                    <p class="project-description">
                        The Gourmet Haven offers a unique dining experience that combines flavors and techniques from around the world. Our chefs are passionate about using fresh, locally sourced ingredients to create dishes that are not only delicious but also visually stunning.
                    <div class="project-tech">
                        <span class="tech-tag">Angular</span>
                        <span class="tech-tag">Clean Architecture</span>
                        <span class="tech-tag">TailwindCSS </span>
                        <span class="tech-tag">flowbite</span>
                        <span class="tech-tag">Local Storage</span>
                        <span class="tech-tag">SweetAlert2</span>
                        <span class="tech-tag">REST APIs</span>
                    </div>
                </div>
            </div>

            <div class="project-card featured hidden-project">
                <div class="project-image">
                    <img src="assets/images/portfolio.png" alt="portfolio App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="http://ahmedhamed.surge.sh/" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/myportfolio/tree/master" target="_blank" class="project-link bg-gradient-to-r from-sky-600 via-cyan-800 to-sky-600">
                                <i class="fab fa-github"></i> <span>React</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <div>
                        <span class="project-badge">React & Vite</span>
                    </div>
                    <h3 class="project-title">Portfolio</h3>
                    <p class="project-description">
                        Portfolio Website – A responsive personal portfolio built with React and Bootstrap. Showcases projects, skills, experience, and provides an interactive, modern interface
                    <div class="project-tech">
                        <span class="tech-tag">react</span>
                        <span class="tech-tag">Bootstrap</span>
                        <span class="tech-tag">Responsive</span>
                        <span class="tech-tag">Clean Architecture</span>
                    </div>
                </div>
            </div>

            <div class="project-card hidden-project">
                <div class="project-image">
                    <img src="assets/images/quote.jpg" alt="quote App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://ahmedhamed2002.github.io/DEPI_task12/" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/DEPI_task12/tree/master" target="_blank" class="project-link bg-orange-600">
                                <i class="fab fa-github"></i> <span>github</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="project-title">Quate Of The Day</h3>
                    <p class="project-description">
                        Quote of the Day is a simple, lightweight web application that displays an inspiring or motivational quote each day.
                        Users can refresh the app to get a new quote, making it perfect for daily motivation or reflection.
                    <div class="project-tech">
                        <span class="tech-tag">HTML</span>
                        <span class="tech-tag">CSS</span>
                        <span class="tech-tag">JS</span>
                        <span class="tech-tag">canvas</span>
                        <span class="tech-tag">Validation</span>
                        <span class="tech-tag">Bootstrap</span>
                        <span class="tech-tag">Clean Architecture</span>
                    </div>
                </div>
            </div>

            <div class="project-card hidden-project">
                <div class="project-image">
                    <img src="assets/images/Weather.jpg" alt="weather App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://ahmedhamed2002.github.io/DEPI_task15/" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/DEPI_task15/tree/master" target="_blank" class="project-link bg-orange-600">
                                <i class="fab fa-github"></i> <span>github</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="project-title">Weather</h3>
                    <p class="project-description">
                        Weather Forecast App – A responsive web app built with HTML, CSS, JavaScript, and Bootstrap that shows current weather and a 3-day forecast for any city using the WeatherAPI.
                    </p>
                    <div class="project-tech">
                        <span class="tech-tag">HTML</span>
                        <span class="tech-tag">CSS</span>
                        <span class="tech-tag">JS</span>
                        <span class="tech-tag">REST APIs</span>
                        <span class="tech-tag">Validation</span>
                        <span class="tech-tag">Bootstrap</span>
                        <span class="tech-tag">Clean Architecture</span>
                    </div>
                </div>
            </div>

            <div class="project-card hidden-project">
                <div class="project-image">
                    <img src="assets/images/book-marker.jpg" alt="book-marker App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://ahmedhamed2002.github.io/DEPI_task13/" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/DEPI_task13/tree/master" target="_blank" class="project-link bg-orange-600">
                                <i class="fab fa-github"></i> <span>github</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="project-title">Book Marker</h3>
                    <p class="project-description">
                        Book Marker – A simple web app built with HTML, CSS, JavaScript, and Bootstrap
                        that lets users store, validate, and manage website URLs in the browser using Local Storage.
                    </p>
                    <div class="project-tech">
                        <span class="tech-tag">HTML</span>
                        <span class="tech-tag">CSS</span>
                        <span class="tech-tag">JS</span>
                        <span class="tech-tag">Local Storage</span>
                        <span class="tech-tag">Validation</span>
                        <span class="tech-tag">Bootstrap</span>
                        <span class="tech-tag">Clean Architecture</span>
                    </div>
                </div>
            </div>

            <div class="project-card hidden-project">
                <div class="project-image">
                    <img src="assets/images/guess.jpg" alt="guess App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://ahmedhamed2002.github.io/guess" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/guess/tree/master" target="_blank" class="project-link bg-orange-600">
                                <i class="fab fa-github"></i> <span>github</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="project-title">Guess The Word</h3>
                    <p class="project-description">
                        Guess The Word – A fun browser-based word guessing game built with HTML, CSS, and JavaScript, featuring limited tries, hints, and color-coded feedback for correct and misplaced letters.
                    </p>
                    <div class="project-tech">
                        <span class="tech-tag">HTML</span>
                        <span class="tech-tag">CSS</span>
                        <span class="tech-tag">JS</span>
                        <span class="tech-tag">Validation</span>
                        <span class="tech-tag">Bootstrap</span>
                        <span class="tech-tag">Clean Architecture</span>
                    </div>
                </div>
            </div>

            <div class="project-card hidden-project">
                <div class="project-image">
                    <img src="assets/images/myTasks.jpg" alt="my tasks App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://ahmedhamed2002.github.io/Tasks" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/Tasks/tree/master" target="_blank" class="project-link bg-orange-600">
                                <i class="fab fa-github"></i> <span>github</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="project-title">My Tasks</h3>
                    <p class="project-description">
                        My Tasks – A simple and interactive web-based to-do list built with HTML, CSS, and JavaScript, allowing users to add, delete, and mark tasks as done. Tasks are saved in Local Storage for persistence.
                    <div class="project-tech">
                        <span class="tech-tag">HTML</span>
                        <span class="tech-tag">CSS</span>
                        <span class="tech-tag">JS</span>
                        <span class="tech-tag">Local Storage</span>
                        <span class="tech-tag">Bootstrap</span>
                        <span class="tech-tag">Clean Architecture</span>
                    </div>
                </div>
            </div>

            <div class="project-card hidden-project">
                <div class="project-image">
                    <img src="assets/images/infixToPostfix.png" alt="infixToPostfix App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://ahmedhamed2002.github.io/p21_infixToPostfix/" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/p21_infixToPostfix" target="_blank" class="project-link bg-orange-600">
                                <i class="fab fa-github"></i> <span>github</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="project-title">Infix To Postfix</h3>
                    <p class="project-description">
                        Infix to Postfix Converter – A simple web project built with HTML, CSS, and JavaScript
                        that converts mathematical expressions from infix notation (e.g., A + B * C) to postfix notation (e.g., A B C * +).
                        It demonstrates the use of stack data structures and expression parsing logic in JavaScript.
                    <div class="project-tech">
                        <span class="tech-tag">HTML</span>
                        <span class="tech-tag">CSS</span>
                        <span class="tech-tag">JS</span>
                        <span class="tech-tag">Clean Architecture</span>
                    </div>
                </div>
            </div>

            <div class="project-card hidden-project">
                <div class="project-image">
                    <img src="assets/images/Culcolater.png" alt="Culcolater App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://ahmedhamed2002.github.io/Culcolater" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/Culcolater/tree/master" target="_blank" class="project-link bg-orange-600">
                                <i class="fab fa-github"></i> <span>github</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="project-title">Culcolater</h3>
                    <p class="project-description">
                        Calculator – A simple, web-based calculator built with HTML, CSS, and JavaScript. Supports basic arithmetic operations, clear, delete, and handles syntax errors gracefully.
                    <div class="project-tech">
                        <span class="tech-tag">HTML</span>
                        <span class="tech-tag">CSS</span>
                        <span class="tech-tag">JS</span>
                        <span class="tech-tag">Clean Architecture</span>
                    </div>
                </div>
            </div>

            <div class="project-card hidden-project">
                <div class="project-image">
                    <img src="assets/images/Aranyak.jpg" alt="Aranyak App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://ahmedhamed2002.github.io/DEPI_task10" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/DEPI_task10/tree/master" target="_blank" class="project-link bg-orange-600">
                                <i class="fab fa-github"></i> <span>github</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="project-title">Aranyak</h3>
                    <p class="project-description">
                        Template Project – A responsive and reusable web template built with HTML, CSS, JavaScript, and Bootstrap. Designed with a clean, modern layout and customizable components for easy integration into any web project.
                    <div class="project-tech">
                        <span class="tech-tag">HTML</span>
                        <span class="tech-tag">CSS</span>
                        <span class="tech-tag">JS</span>
                        <span class="tech-tag">Responsive</span>
                        <span class="tech-tag">Bootstrap</span>
                        <span class="tech-tag">Clean Architecture</span>
                    </div>
                </div>
            </div>

            <div class="project-card hidden-project">
                <div class="project-image">
                    <img src="assets/images/Feliciano.png" alt="feliciano App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://ahmedhamed2002.github.io/p17_bootstrap_3" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/p17_bootstrap_3/tree/master" target="_blank" class="project-link bg-orange-600">
                                <i class="fab fa-github"></i> <span>github</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="project-title">Feliciano</h3>
                    <p class="project-description">
                        Template Project – A responsive and reusable web template built with HTML, CSS, JavaScript, and Bootstrap. Designed with a clean, modern layout and customizable components for easy integration into any web project.
                    <div class="project-tech">
                        <span class="tech-tag">HTML</span>
                        <span class="tech-tag">CSS</span>
                        <span class="tech-tag">JS</span>
                        <span class="tech-tag">Responsive</span>
                        <span class="tech-tag">Bootstrap</span>
                        <span class="tech-tag">Clean Architecture</span>
                    </div>
                </div>
            </div>

            <div class="project-card hidden-project">
                <div class="project-image">
                    <img src="assets/images/HEXA-shop.png" alt="HEXA shop App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://ahmedhamed2002.github.io/DEPI_task9" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/DEPI_task9/tree/master" target="_blank" class="project-link bg-orange-600">
                                <i class="fab fa-github"></i> <span>github</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="project-title">Hexa Shop</h3>
                    <p class="project-description">
                        Template Project – A responsive and reusable web template built with HTML, CSS, JavaScript, and Bootstrap. Designed with a clean, modern layout and customizable components for easy integration into any web project.
                    <div class="project-tech">
                        <span class="tech-tag">HTML</span>
                        <span class="tech-tag">CSS</span>
                        <span class="tech-tag">JS</span>
                        <span class="tech-tag">Responsive</span>
                        <span class="tech-tag">Bootstrap</span>
                        <span class="tech-tag">Clean Architecture</span>
                    </div>
                </div>
            </div>

            <div class="project-card hidden-project">
                <div class="project-image">
                    <img src="assets/images/engage.jpg" alt="engage App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://ahmedhamed2002.github.io/DEPI_task8" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/DEPI_task8/tree/master" target="_blank" class="project-link bg-orange-600">
                                <i class="fab fa-github"></i> <span>github</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="project-title">Engage</h3>
                    <p class="project-description">
                        Template Project – A responsive and reusable web template built with HTML, CSS, JavaScript, and Bootstrap. Designed with a clean, modern layout and customizable components for easy integration into any web project.
                    <div class="project-tech">
                        <span class="tech-tag">HTML</span>
                        <span class="tech-tag">CSS</span>
                        <span class="tech-tag">JS</span>
                        <span class="tech-tag">Responsive</span>
                        <span class="tech-tag">Bootstrap</span>
                        <span class="tech-tag">Clean Architecture</span>
                    </div>
                </div>
            </div>

            <div class="project-card hidden-project">
                <div class="project-image">
                    <img src="assets/images/space.jpg" alt="space App Screenshots" loading="lazy">
                    <div class="project-overlay">
                        <div class="project-links">
                            <a href="https://ahmedhamed2002.github.io/space-/" target="_blank" class="project-link bg-gradient-to-r from-green-700 via-emerald-500 to-green-700 ">
                                <i class="fas fa-globe"></i> <span>Live Demo</span>
                            </a>
                            <a href="https://github.com/AhmedHamed2002/space-/tree/master" target="_blank" class="project-link bg-orange-600">
                                <i class="fab fa-github"></i> <span>github</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="project-title">Space</h3>
                    <p class="project-description">
                        Template Project – A responsive and reusable web template built with HTML, CSS, JavaScript, and Bootstrap. Designed with a clean, modern layout and customizable components for easy integration into any web project.
                    <div class="project-tech">
                        <span class="tech-tag">HTML</span>
                        <span class="tech-tag">CSS</span>
                        <span class="tech-tag">JS</span>
                        <span class="tech-tag">Responsive</span>
                        <span class="tech-tag">Bootstrap</span>
                        <span class="tech-tag">Clean Architecture</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="view-more-container">
            <button class="btn btn-secondary" id="viewMoreBtn"><i class="fas fa-eye"></i> View More Projects</button>
        </div>
    </div>
</section>